body {
    font-family: 'Roboto Mono', monospace;
    background: skyblue;
}

.header {
    margin: 3vh 0;
    text-align: center;
}

#mainBody {
    margin: 0 auto;
    height: 80vh;
    width: 90vw;
    border: 2px solid black;
}

.jumbotron {
    background: url("/Software/Picture/1.jpg");
    filter: contrast(70%);
}

.switch{
    height: 50vh;
    width: 10vw;
}